body {
    width: 100vw;
    height: 100vh;
    background-color: #e4d7d7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.card {
    width: 40vw;
    height: 85vh;
    background-color: #fff;
    border-radius: 7%;
}

div.content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 100%;
}

div.cabeçalho {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

div.cabeçalho span.voltar {
    margin-left: 10px;
    height: 40px;
    width: 40px;
}

div.cabeçalho span.fechar {
    margin-right: 20px;
}

/* CSS DO CHAT */

div.chat {
    height: 90%;
    width: 100%;
}